{
  "size": {{size}},
  "_source": {
    "excludes": ["{{vector_field}}"]
  },
  "query": {
    "multi_match": {
      "query": "{{query_text}}",
      "type": "cross_fields",
      "operator": "or",
      "minimum_should_match": "60%",
      "fields": [
        "movie^3",
        "overview",
        "actors",
        "director",
        "screenwriter",
        "country"
      ]
    }
  }
}
